

<div id="repo-status">
  <%= form_tag "#{workspace_repository_commit_index_path}", method: :post do %>
    <div id="branches">
      <%= select_tag("branch_select", options_for_select(@branche_names, params[:id]), {name: "tree"})%>
    </div>
    <% @diff.each_delta do |delta| %>
      <%= check_box_tag "commits[files][]", delta.old_file[:path], true, {id: delta.old_file[:oid]} %>
      <%= label_tag delta.old_file[:path] %>
      <br />
    <% end %>
    <% # unstaged files %>
    <% @untracked_files.each do |new_file| %>
      <%= check_box_tag "commits[files][]", new_file, true  %>
      <label><%= new_file %></label>
      <br />
    <% end %>
    <%= text_area_tag "message", "", placeholder: "leave a commit message here"%>
    <%= submit_tag "submit"%>
  <% end %>
</div>

<div id="commits">
  <ul>
    <% @commits.each do |commit| %>
      <li>
        <%= commit.author[:name] %>
        <%= link_to commit.message, "#{workspace_repository_commit_path(@workspace, @repo, commit.oid)}" %>
      </li>
    <% end %>
  </ul>
</div>

<script type='text/javascript'>
  $("#branch_select").on("change", function (){
    console.log($(this).val());
    window.location.href = "<%= workspace_repository_path(@workspace, @repo) %>" + "/tree/" + $(this).val();
  });
</script>

